@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

body {
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  background-color: rgb(8, 2, 22);
  color: aliceblue;
}
.ImgProduct {
    height: 100px;
    object-fit: cover;
}
.FontCheck {
  font-weight: 700;
  font-size: 14px;
}

.FontCard {
  font-weight: 400;
  font-size: 12px;
}

.card-body {
  padding: 6px 0 0 10px;
  background-color: #9da9ff;
}