.ImgProduct {
    height: 200px;
    object-fit: contain;
}

.ellipsis {
    text-overflow: ellipsis; /* enables ellipsis */
    white-space: nowrap; /* keeps the text in a single line */
    overflow: hidden; /* keeps the element from overflowing its parent */
  }

.multiline-ellipsis {
overflow: hidden;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 3; /* start showing ellipsis when 3rd line is reached */
white-space: pre-wrap; /* let the text wrap preserving spaces */
}